
.Navbar-main button {
  padding: 10px;  
  font-size: 20px;
  color: #fff;
  font-weight: 600;  
  cursor: pointer;
  transition: 70ms;
}

.Navbar-main button:active {
  transform: translateY(3px);
  
}

.Burger {
  display: none;
  grid-area: burger;
  margin: 0 20px 0 0;
  padding: 0;
  justify-self: end;
  font-size: 40px;
  border: none;
  background: none;
  outline: none;
  transition: 0.1s;
}
.Burger:active {
  transform: scale(1.2);
}

@media (max-width: 700px) {  
  .Burger {
    display: flex;
  }
}

.NavAnimation-enter {
  opacity: 0;
  transform: scale(0.5);
}
.NavAnimation-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 350ms, transform 350ms;
}
.NavAnimation-exit {
  opacity: 1;
}
.NavAnimation-exit-active {
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 350ms, transform 350ms;
}

.Navbar-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2.5rem;
  position: absolute;
  z-index: 1;
  width: 100%;
  margin: 0;  
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-size: 1rem;
}

@media screen and (max-width:700px){
  .Navbar-main {  
  flex-direction: column;
  font-size: 0.8rem;
  
  }
}
 
.navbar-sticky {
  background: #333;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 1px 1px 1px #222;
  animation: moveDown 0.5s ease-in-out;
}

.navbar--logo-holder {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.navbar--logo {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
  animation: rotate 0.7s ease-in-out 0.5s;
}

.nav-link {
  color: #e74c3c;
  display: inline-block;
  font-family:Georgia;
  font-style:normal;
  cursor: pointer;
  transition: 0.5s;
}

.nav-link:hover {
  color: #fff;
  transform: scale(1.1);
}


.navbar--link {
  display: flex; 
  list-style: none;
  padding:.5rem!important;
}



.navbar--link-item {
  margin: 0.4rem 1rem 0 0;
  padding: 0 0.3rem;
  cursor: pointer;
}

@keyframes moveDown {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0rem);
  }
}

@keyframes rotate {
  0% {
    transform: rotateY(360deg);
  }
  100% {
    transform: rotateY(0rem);
  }
}